<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Krypton.Navigator" version="70.22.11.312" targetFramework="net48" />
  <package id="Krypton.Ribbon" version="70.22.11.312" targetFramework="net48" />
  <package id="Krypton.Toolkit" version="70.22.11.312" targetFramework="net48" />
  <package id="LinkDotNet.NUniqueHardwareID" version="0.4.1" targetFramework="net48" />
  <package id="log4net" version="2.0.15" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite.Core" version="8.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.16.2" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="2.1.7" targetFramework="net48" />
  <package id="SqlSugar" version="5.1.4.131" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
</packages>